li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

.index {
  margin-bottom: 20px;
}

table th ,table td{
  background-color: #ffdfdf;
  border: solid 1px black;
  padding: 10px 20px;
  text-align: center;
}

table td {
  background-color: #f1c8c861;
}

table td > input {
  width: 100%;
  font-size: 16px;
  padding: 5px;
}

table td > textarea {
  width: 350px;
  height: 200px;
  font-size: 16px;
}

.notice ,.notice_submit{
  background-color: #98ecaa7a;
  border: 2px solid #5cd075;
  padding: 15px;
  width: 400px;
  text-align: center;
}

.notice_submit {
  background-color: #ec98ac8f;
  border: 2px solid #ec7592;
}

